{% extends 'base.html' %}

{% block content %}
<h1>Статистика просмотра книг</h1>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Название книги</th>
            <th>Автор</th>
            <th>Кол-во посещений</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author.name}}</td>
            <td>{{book.visit_number}}</td>
            <td>{{book.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}