{% extends 'base.html' %}
{% from "pagination.html" import pagination %}
{% block content %}
<main class="container my-3">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Экзаменационная работа</h1>
            <p class="lead my-3">Выполнил: Флягин Е.К., гр. 211-352</p>
        </div>
    </div>
    <div class="row mb-4 pb-2 justify-content-between border-bottom">
        <h2 class="pb-2 border-bottom">Популярные книги</h2>
        {% for book in popular_books %}
        <div class="col-2 p-0 bg-light rounded">
            <a class="text-decoration-none text-reset " href="{{url_for('book.book_show', book_id=book.id)}}">
            <div class="container text-center">
                <div class="bookcard-main d-flex flex-column position-static">
                    <img src="{{ url_for('image', cover_id=book.cover_id) }}" class="object-fit-cover border rounded"
                         alt="...">
                </div>
                <div class="bookcard-footer">
                    <h5>{{book.name}}</h5>
                    <p>{{book.author.name}}</p>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-4 pb-2 justify-content-between border-bottom">
        <h2 class="pb-2 border-bottom">Недавно просмотрено</h2>
        {% for i in range(5)%}
        <div class="col-2 p-0 bg-light rounded">
            <div class="container text-center ">
                <div class="d-flex flex-column position-static">
                    <img src="/media/0551b627-54b7-406d-8b90-d135be6e27cf" class="object-fit-cover border rounded"
                         alt="...">
                </div>
                <div class="bookcard-footer">
                    <h4>Test name</h4>
                    <p>Author</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-5">
        {% for book in books %}
        <div class="col-md-6 my-2">
            <div class="row g-0 border rounded overflow-hidden mb-4 shadow-sm position-relative" style="height: 100%">
                <div class="col p-3 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">
                        {% for bind in book.b2g %}
                        {{bind.genre.name}}
                        {% endfor %}
                    </strong>
                    <h4 class="mb-0">{{book.name}}</h4>
                    <div class="mb-1 text-body-secondary">{{book.author.name}}, {{book.year}}</div>
                    <p class="mb-1 rating">Средний рейтинг:
                        <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
                    </p>
                    <p class="mb-1">Кол-во рецензий: {{book.rating_num}}</p>
                    <p class="card-text mb-auto">{{book.description}}</p>
                    <div class="row justify-content-center my-1">
                        <a href="{{url_for('book.book_show', book_id=book.id)}}"
                           class="col btn btn-primary mx-2">
                            Подробнее о книге
                        </a>
                        {% if current_user.is_authenticated %}
                        {% if current_user.is_moderator() or current_user.is_admin() %}
                        <a href="{{url_for('book.book_edit', book_id=book.id)}}"
                           class="col btn btn-primary mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-gear-wide" viewBox="0 0 16 16">
                                <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                            </svg>
                        </a>
                        {% endif %}
                        {% if current_user.is_admin() %}
                        <a href="{{url_for('book.book_delete', book_id=book.id)}}"
                           class="col btn btn-primary mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col d-flex flex-column position-static">
                    <div class="course-logo"
                         style="background-image: url({{ url_for('image', cover_id=book.cover_id) }});">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        {{pagination(page, page_count, request.endpoint)}}
    </div>
</main>
{% endblock %}